.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: cursive;
  color: khaki;
  text-align: center;
}

h3 {
  font-family: Helvetica;
}

p {
  font-family: Helvetica;
}

.subheader {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.mediumspringgreen {
    background-color: mediumspringgreen;
}

.lightcoral {
    background-color: lightcoral;
}

.skyblue {
    background-color: skyblue;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
